// colors

$color-1: #34383c; // Outer Space
$color-2: darken(tomato,40%); // Caribbean Green
$color-3: white; // White
$color-4: #ffffff; // White
$color-5: #262626; // Dark Grey

$hotpink: rgb(255, 0, 100);
$royalblue: royalblue;

$body-background: white;
$body-text: #444;
$section-background-chocolate: #1C0400;
$section-background-tan: #200029;
$section-text-one: moccasin;

// fonts 

$primary-font: 'Source Sans Pro', sans-serif;

// animation duration

$expand-animation-duration: .4s;